.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    color: #fff;
    font-size: 1.2rem;
    background-color: var(--display-color);
}

.btn a{
    font-size: 1.2rem;
    padding: 0;
}

.btn:hover{
    background-color: var(--onclick-color);
}

li{
    border-radius: 5px;
    font-size: 2rem;
    padding: 1rem;
}